@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
    height: 100vh;
    background: #D4D4D4;
}

canvas{
    display: block;
}

a{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    color: grey;
}