body{
    margin: 0;
    height: 100vh;
    background: #D4D4D4;
}

canvas{
    display: block;
}

a{
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    color: grey;
}